a {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
}

header {
    overflow: hidden;
    height: 70px;
    background-color: #ffffff;
    border-bottom: #cccccc;
    position: fixed;
    top: 0;
    width: 100%;
}

header #myname {
    float: left;
    display: block;
    text-align: center;
    padding: 20px 10%;
}

header #myname h1 {
    color: white;
    background-color: #4aaaa5;
    padding: 14px 16px;
}

header #links {
    float: right;
    display: block;
    text-align: center;
    padding: 25px 16px;
    margin-right: 20%;
}

header #links .index {
    padding-right: 20px;
}

header #links .contact {
    padding-right: 20px;
}

header #links .portfolio {
    padding-right: 20px;
}

hr {
    display: block;
    border: 2px solid #ddd;
}

footer {
    background-color: #666666;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    text-align: center;
    color: #ddd;
    border-top: 10px;
    border-top-color: #4aaaa5;
    border-style: solid;
}

h1 {
    color: #4aaaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

html {
    background-image: url('https://www.transparenttextures.com/patterns/black-linen.png');
    background-repeat: repeat;
}

body #main {
    width: 960px;
    padding: 50px;
    margin: 100px;
    background-color: #ffffff;
    border-color: #dddddd;
    border: 1px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

body #main .pic {
    display: inline;
    float: left;
    padding-right: 20px;
}

body #main .first {
    display: inline;
}

body #main p {
    line-height: 1.5em;
}


body form #name {
    width: 960px;
}

body form #email {
    width: 960px;
}

body form #message {
    width: 960px;
    height: 200px;
}

body form #submit {
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    border: none;
    font-size: 16px;
}